	#login {
		width: 400px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding-top: 20px;
	}
	#index {
		width: 400px;
		text-align: center;
		margin-left: 20px;
		margin-top: 20px;
		padding-top: 20px;
	}
	#space {
		padding-top: 20px;
	}
	#button {
		padding-top: 20px;
	}